 <div class="col-sm-3 col-md-2 sidebar navbar-collapse collapse" id="navbar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#"> Dashboard <span class="sr-only">(current)</span></a></li>
            <li><a href="#">View Profile</a></li>
            <li><a href="#">Edit Profile</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">View users Today's Status</a></li>
            <li><a href="">View users</a></li>
            <li><a href="">View Reports</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Logout</a></li>
          </ul>
        </div>