
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<table class="table table-hover">
<thead>
      <tr>
      <th>Avatar</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone No</th>
        <th>Edit</th>
        <th>Update</th>
      </tr>
    </thead>
<tbody>
      <tr>
        <td>Surya</td>
        <td>siaktou</td>
        <td>sutya</td>
        <td>sshith</td>
        <td>surya@example.com</td>
      	  <td><button class="btn btn-primary">Edit</button></td>
      	  <td><button class="btn btn-primary">Delete</button></td>
      </tr>
      <tr>
        <td>cscr</td>
        <td>prativa</td>
        <td>superem</td>
        <td>jam</td>
        <td>kp@example.com</td>
      	    <td><button class="btn btn-primary">Edit</button></td>
      	  <td><button class="btn btn-primary">Delete</button></td>
      </tr>
   
    </tbody>
    </table>
     </div>